* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://render.fineartamerica.com/images/rendered/default/print/8.000/5.375/break/images-medium-5/checkered-background-gorbovoi.jpg");
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.jumbotron {
  height: 100vh;
}

footer {
  position: absolute;
  width: 100%;
  margin-top: 20px;
}
footer,
footer h5 {
  background-color: #000;
  color: white;
}

a:hover {
  text-decoration: none;
}

h1,
h3 {
  text-align: center;
  color: white;
  background-color: #247209;
}

.column iframe {
  width: 100%;
  height: 100%;
}

.container {
  margin-bottom: 30px;
}
.navbar {
  margin-bottom: 10px;
  padding: 30px;
}

.label {
  text-shadow: 2px 1px white;
}
button {
  background-color: #247209;
}

small {
  font-size: 0.95em;
}
